@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500,600,800,900');

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  margin-left: calc(100vw - 100%);
  
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}